<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="buff_timer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <buff_timer.Properties.Settings>
            <setting name="Duration" serializeAs="String">
                <value>00:20:00</value>
            </setting>
            <setting name="BeepLast" serializeAs="String">
                <value>00:03:00</value>
            </setting>
            <setting name="BeepInterval" serializeAs="String">
                <value>00:00:03</value>
            </setting>
        </buff_timer.Properties.Settings>
    </userSettings>
</configuration>